* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 12px 110px;
}

.header-logo {
    font-size: 24px;
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header ul li {
    text-decoration: none;
    list-style: none;
}